/*.SelectList1 {
background-color: #F9F9F9;
padding: 0px 4px ;

}
.SelectList2 {
background-color: #FFFFFF;
padding: 0px 4px;
}*/

.LookupButton {
    cursor:pointer;
    height:20px;
    margin:0px 0px 0px 2px;
    width:23px;
    cursor: pointer;
    padding: 0px;
}