<style type="text/css">
* {
	font-family: Arial;
	font-size: 11px;
	}
</style>
<div style="text-align: center; background-color: white;">
<b>SOFTWARE LICENCE AGREEMENT.</b> Copying, duplicating or otherwise distributing any part of this product
without the prior written consent of an authorised representative of
PC Control Systems Ltd is prohibited. This Software is licensed subject
to the following conditions.
<br><br>
<b>LICENCE AGREEMENT.</b> This is a legal agreement between you (either an
individual or an entity) and the manufacturer of the computer software PC
Control Systems Ltd..
If you operate this SOFTWARE you are agreeing to be bound by the terms of
this agreement. If you do not agree to the terms of this agreement, promptly
return the SOFTWARE and the accompanying items (including written materials
and binders or other containers) to the place you obtained them from.
Discretionary compensation may be paid dependent upon the time elapsed since
the purchase date of the SOFTWARE in all events any form of compensation will
be at the sole discretion of and expressly set by PC Control Systems Ltd..
<br><br>
<b>GRANT OF LICENCE.</b> This Licence Agreement permits you to use one copy
of the enclosed software program ( the "SOFTWARE") on a single computer
if you purchased a single user version or on a network of computers if you
purchased a network user version. The SOFTWARE is in "use" on a computer
when it is loaded into temporary memory (i.e. RAM) or installed into permanent
memory (i.e. hard disk, CD-ROM, or other storage device) of that computer.
Network users are limited to the number of simultaneous accesses to the
SOFTWARE by the network. This is dependent upon the user version
purchased. The user version is clearly stated on the original SOFTWARE
purchase invoice.
<br><br>
<b>COPYRIGHT:</b> The enclosed SOFTWARE and Documentation is protected by
copyright laws and international treaty provisions and are the proprietary
products of PC Control Systems Ltd. and its third party suppliers from whom
PC Control Systems Ltd. has licensed portions of the Software. Such suppliers
are expressly understood to be beneficiaries of the terms and provisions of
this Agreement. All rights that are not expressly granted are reserved by
PC Control Systems Ltd. or its suppliers. You must treat the SOFTWARE like
any other copyrighted material (e.g. a book or musical recording) except that
you may either (a) make one copy of the SOFTWARE solely for backup
or archival purposes, or (b) transfer the SOFTWARE to a single hard disk
provided you keep the original solely for backup or archival purposes.
You may not copy the written materials accompanying the SOFTWARE.
<br><br>
<b>DUAL MEDIA SOFTWARE.</b> If the SOFTWARE package contains both 3.5"
and 5.25" or 3.5" and CD ROM disks, then you may use only the disks
appropriate for your single-user computer or your file server. You may not use
the other disks on any other computer or loan, rent, lease, or transfer them to
another user except as part of the permanent transfer (as provided above) of all
SOFTWARE and written materials.
<br><br>
<b>LIMITED WARRANTY.</b> PC Control Systems Ltd. warrants that (a) the
SOFTWARE will perform substantially in accordance with the accompanying
written materials for a period of ninety (90) days from the date of receipt,
and (b) any hardware accompanying the SOFTWARE will be free of defects in
materials and workmanship under normal use and service for a period of one
(1) year from the date of receipt. Any implied warranties on the
SOFTWARE and hardware are limited to ninety (90) days and one
(1) year, respectively. Some jurisdictions do not allow limitations
duration of an implied warranty, so the above limitation may not
apply to you.
<br><br>
<b>CUSTOMER REMEDIES.</b> PC Control Systems Ltd. and its suppliers entire
liability and your exclusive remedy shall be, at PC Control Systems Ltd.
option, either (a) return of the price paid , or (b) repair or replacement of
the SOFTWARE that does not meet PC Control Systems Ltd. Warranty and which
is returned to PC Control Systems Ltd. with a copy of your SOFTWARE
purchase invoice. This Limited Warranty is void if failure of the SOFTWARE
has resulted from accident, abuse, or misapplication. Any replacement
SOFTWARE will be warranted for the remainder of the original warranty period
or thirty (30) days, whichever is the longer.
<br><br>
<b>NO OTHER WARRANTIES.</b> To the maximum extent permitted by applicable
law, PC Control Systems Ltd. and its suppliers disclaim all other warranties,
either express or implied, including, but not limited to implied warranties of
merchantability and fitness for a particular purpose, with regard to the
SOFTWARE, the accompanying written materials, and any accompanying
hardware. This limited warranty gives you specific legal rights, and you may
also have other rights which vary from jurisdiction to jurisdiction.
<br><br>
<b>NO LIABILITY FOR CONSEQUENTIAL DAMAGES.</b> To the maximum extent permitted
by applicable law, in no event shall PC Control Systems Ltd. or its suppliers
be liable for any damage whatsoever ( including without limitation,
damages for loss of business profits, business interruption, loss of business
information, or any other pecuniary loss) arising out of the use of or
inability to use this product, even if PC Control Systems Ltd. has been advised
of the possibility of such damages. Because some jurisdictions do not allow the
exclusion or limitation of liability for consequential or incidental damages, the
above limitation may not apply to you.
<br><br>
<b>SUPPORT.</b> PC Control Systems Ltd. will attempt to answer your technical
support requests concerning the SOFTWARE; however, this service is offered
on a reasonable efforts basis only, and PC Control Systems Ltd. may not be
able to resolve every support request. PC Control Systems Ltd. supports
the Software only if it is used under conditions and on operating systems
for which the Software is designed.
<br>
By Logging in you are agreeing to the above agreement.
</div>